<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burguer</title>
</head>

<body>
    <h1>Burgers!!!</h1>

    <h2>Burgers to eat</h2>

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{/unless}}
        {{/each}}
    </ul>


    <h2>Burguers eaten</h2>

    <ul>
  {{#each burgers}}
    {{#if devoured}}
    {{/if}}
  {{/each}}
</ul>


    <h2>Add a burger!</h2>

    <form class="create-form">

        <div class="form-group">
            <label for="newburger">Burguer Name:</label>
            <input type="text" id="newburger" name="name">
        </div>

        <button type="submit">Add Burger</button>
    </form>


</body>

</html>