body {
    margin: auto;
    background-image: url("/img/gingham-red.jpg");
}
#main-container {
    max-width: 85%;
    margin: auto;
    font-family: 'Gloria Hallelujah', cursive;
}
.jumbotron {
    background-color: white !important;
    margin: 15px;
    padding: 0px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
#logo-pic {
    max-height: 175px;
}
.col-4 {
    background-color: white !important;
    max-width: 28%;
    margin: 15px;
    padding: 15px;
    text-align: left;
}
h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
.navbar {
    background-color: white !important;
}
#navbar-text {
    color: black;
} 